/* Create invisible draggable area */
body.papyrus-drag::after {
	content: "";
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 20px;
	background: transparent;
	z-index: 100;
	-webkit-app-region: drag;
}

/* Move Paper title because of Mac controls */
body.papyrus-better-title .header-pad-title-and-folder {
	left: 105px;
}

body.papyrus-better-title .hp-header-back-button-wrapper {
	left: 65px !important;
}

.home-button {
	cursor: default !important;
}

/* Remove back button */
.home-button .icon-wrapper-back-arrow {
	display: none !important;
}

/* Move button so it doesn't touch the scrollbar */
#hp-editor-assist-buttons {
	transform: translateX(-16px);
}
